#header-container{
    border: #000000 solid 2px;
    padding:20px;
    height:50px;
    //background-color: #3e85a1;
}
#logo-container{
    float:left;
}
#header-rightnav{
    float:right;
}
#btn-signin{
    float: right;
}
#input-search{
    float:right;
}
