<div class="row" id="header-container">
    <div class="col" id="logo-container">
        <img src="assets/images/logo-png.png"/>
    </div>

    <div class="col" id="header-rightnav">
        <div id="top-btn">
            <button id="btn-home" class="btn" [routerLink]="['/home']" routerLinkActive="active">Home <i class="fa fa-home"></i></button>&nbsp;&nbsp;&nbsp;
            <button id="btn-signin" class="btn btn-outline-secondary">Sign In</button>
        </div>
        
        <br/>
        <br/>
        <input type="text" placeholder="Search Menus" [(ngModel)]="searchText" id="input-search" (ngModelChange)="updateSearchText(searchText)">
    </div>
      
</div>
