
<div>
    <div class="row">
        <h2>Ordering From {{menu.name}} Restaurant in {{menu.location.address}} {{menu.location.city}}, {{menu.location.state}}</h2>
    </div>
    <div class="row">
        <div class="col">
            <nav *ngFor="let m of menuList" [routerLink]="['/menu/' + m.id]" routerLinkActive="active" class="navbar navbar-light bg-light">
                <a class="navbar-brand" >{{m.name}}</a><br><br>
              </nav>
        </div>
        <div class="col-8">
            <img class="card-img-top" [src]="'assets/images/'+ menu.filename" [alt]="menu.name" width="65%">
            <br>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Main Item</th>
                    <th scope="col">Side Item</th>
                    <th scope="col">Extras</th>
                    <th scope="col">Drinks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mainItems; let indexOfMenu=index;">
                    <td>{{mainItems[indexOfMenu].name}}</td>
                    <td>{{sideItems[indexOfMenu].name}}</td>
                    <td>{{extras[indexOfMenu].name}}</td>
                    <td>{{drinks[indexOfMenu].name}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
